{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
    Categories
{% endblock title %}

{% block content %}
    <div>
        {% for category in all_categories %}
            <a style="text-decoration: none" href="{% url 'categories' category.id %}">
                <span class="badge text-bg-secondary">{{ category }}</span>
            </a>
        {% endfor %}
    </div>
    <br>
    <h2>Количество статей в категории "{{ category }}": {{ page_obj.paginator.count }}</h2>
    {% if is_subscriber %}
        <h6>Вы подписаны на категорию "{{ category }}"</h6>
    {% else %}
        <div>
            <a style="text-decoration: none" href="{% url 'subscribe' category.id %}">
                <input title="Еженедельная рассылка и оповещение о новых статьях в этой категории"  class="btn btn-lg btn-light" type="button" value="Подписаться" />
            </a>

        </div>
    {% endif %}
    <br><br><br>
    {% if posts %}
        {% for post in page_obj %}
            <h4><a class="nav-link" href="/news/{{ post.pk }}">{{ post.title|censor }}</a></h4>
            <p>{{ post.content|truncatewords:20|censor }}</p>

            <table width="100%">
                <tr>
                    <td width="100"><b>{{ post.add_date|date:'d M Y' }}</b></td>
                    <td>{{ post.get_type_display }}</td>
                    <td align="right">Автор: {{ post.author }}</td>

                </tr>
            </table>

        <div>
            {% for category in post.get_categories %}
                <a style="text-decoration: none" href="{% url 'categories' category.id %}">
                    <span class="badge text-bg-secondary">{{ category }}</span>
                </a>
            {% endfor %}
        </div>
        <br><br><br>
        {% endfor %}
    {% else %}
        <h3>Извините, новостей сейчас нет!</h3>
    {% endif %}
{% endblock content %}

