{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
    {% if url == post_create %}
        Create
    {% else %}
        Edit
    {% endif %}
{% endblock title %}

{% block content %}
    <h3 class="text-center">
        {% if url_name == post_create %}
            Добавить новость
            Добавить статью
        {% else %}
            Редактировать новость
            Редактировать статью
        {% endif %}
    </h3>
    <br>
    <form class="text-center" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-lg btn-dark" type="submit" value="Сохранить">
    </form>

{% endblock content %}

