{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
    News
{% endblock title %}

{% block content %}
    <h2>Количество доступных статей: {{ posts|length }}</h2>
    <br><br>
    {% if posts %}
        {% for post in page_obj %}
            <h4><a class="nav-link" href="/news/{{ post.pk }}">{{ post.title|censor }}</a></h4>
            <h6>{{ post.add_date|date:'d M Y' }}</h6>
            <p>{{ post.get_type_display }}</p>
            <p>{{ post.content|truncatewords:20|censor }}</p>
            <br><br>
        {% endfor %}
    {% else %}
        <h3>Извините, новостей сейчас нет!</h3>
    {% endif %}
{% endblock content %}

